* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
1.header
2.main
3.aside
4.footer
*/

.package {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-weight: bold;

}

/* 1.header */

header {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
}


/* 2.main */

main {
    flex-grow: 1;
    display: flex;
}

.whole-part {
    flex-basis: 70%;
    background-color: rgb(221, 218, 178);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.part1 {
    flex-grow: 1;
    text-align: center;
    padding-top: 40px;
}

.part2 {
    flex-basis: 20%;
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;
}

.more {
    flex-basis: 50%;
    background-color: rgb(213, 194, 66);
    display: flex;
    justify-content: center;
    align-items: center;
}

.more2 {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 194, 66);
}


/* 3.aside */

aside {
    flex-grow: 1;
    text-align: center;
    padding-top: 50px;
    background-color: rgb(145, 217, 193);
}

/*4.footer*/

footer {
    flex-basis: 10%;
    display: flex;
    justify-content: space-between;

    background-color: silver;
}

.sections {
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
}